build
.gradle
.idea
.envrc
config.yml
out
applications/acceptance-tests/src/test/kotlin/support/goodbyeapp/*
!applications/acceptance-tests/src/test/kotlin/support/goodbyeapp/main.go
applications/acceptance-tests/src/test/kotlin/support/helloapp/*
!applications/acceptance-tests/src/test/kotlin/support/helloapp/main.go
applications/acceptance-tests/src/test/kotlin/support/*.zip
