build
.gradle
.idea
.envrc
config.yml
out
tests/cli-acceptance-tests/src/test/kotlin/support/goodbyeapp/*
!tests/cli-acceptance-tests/src/test/kotlin/support/goodbyeapp/main.go
tests/cli-acceptance-tests/src/test/kotlin/support/helloapp/*
!tests/cli-acceptance-tests/src/test/kotlin/support/helloapp/main.go
tests/cli-acceptance-tests/src/test/kotlin/support/*.zip
